body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:  #b1c1bf;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #22302a;
    color:#ffffff;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
    color: #ffffff;
}

footer {
    background-color:#22302a;
    color: #fffdfd;
    text-align: center;
    padding: 1em;
}

body {
    background-color: #b1c1bf;
}


:root {
    --cor-principal: #22302a ;
    --cor-secundaria: #2b1c27;
    --cor-destaque: #ffffff;
    --cor-texto: #D7F9FF;

  }


  .caixa-principal{
    background-color: var(--cor-principal);
    width: 100%;
    max-width: 1280px;
    text-align: center;
    padding: 100px;
  }

  h1{
    color: var(--cor-destaque);
   }

button {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}
